---
import { formatDate } from "@/utils";
import MainLayout from "@/layouts/MainLayout.astro";
import { getEntry, render } from "astro:content";
import Tags from "@/components/Tags.astro";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("blog", slug);
if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await render(entry);

const imagePath = `/src/images/articles/${entry.data.image}`;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/articles/*.{jpeg,jpg,png,gif}",
);

if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "/src/images/articles/*.{jpeg,jpg,png,gif}"`,
  );
---

<MainLayout>
  <article>
    <h1 class="mb-2 text-4xl font-bold">
      {entry.data.title}
    </h1>
    <h3 class="mb-2 text-lg">
      Written by {entry.data.author} on {formatDate(entry.data.pubDate)}
    </h3>
    <Tags tags={entry.data.tags} />
    <Image
      src={images[imagePath]()}
      alt={entry.data.title}
      loading={"eager"}
      class="my-6 h-auto w-full rounded-xl"
    />
    <Content />
  </article>
</MainLayout>

<style is:global>
  p {
    margin: 20px 0;
  }

  h2 {
    margin: 20px 0;
    font-size: 1.8rem;
  }
</style>
