---
import { formatDate } from "@/utils";
import type { CollectionEntry } from "astro:content";
import Tags from "@/components/Tags.astro";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { article, index } = Astro.props;

interface Props {
  article: CollectionEntry<"blog">;
  index: number;
}

const imagePath = `/src/images/articles/${article.data.image}`;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/articles/*.{jpeg,jpg,png,gif}",
);

if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "/src/images/articles/*.{jpeg,jpg,png,gif}"`,
  );
---

<div class="mx-auto mt-10 max-w-md">
  <div class="overflow-hidden rounded-lg bg-white shadow-lg">
    <a href={"/articles/" + article.id}>
      <Image
        src={images[imagePath]()}
        alt={article.data.title}
        loading={index < 3 ? "eager" : "lazy"}
      />
    </a>
    <div class="p-6">
      <h2 class="mb-2 text-2xl font-semibold">
        <a href={"/articles/" + article.id}>{article.data.title}</a>
      </h2>
      <p class="mb-4 text-sm text-gray-600">
        {formatDate(article.data.pubDate)}
      </p>
      <Tags tags={article.data.tags} />
    </div>
  </div>
</div>
